<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yuntai.mechrevo.moudlea">

    <application>
        <activity android:name=".A_MainActivity"/>
        <activity android:name=".A_ARouterACtivity">
        </activity>
    </application>

</manifest>